{% extends 'main/base.html'%}
{%load static  i18n %}
{% block content %}


    <section class="home-slider-loop-false  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('/static/img/Mind-Over-Miles-Run-Carla-Downes-running-for-lululemon-4156-Melbourne-Australia-2017-Matt-Korinek-MK-Photography-SQSP-1500px.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>{% trans 'Contact'%}</h1>
            </div>
          </div>
        </div>
      </div>

    </section>
    <!-- END slider -->

    <section class="section element-animate">
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>{% trans 'Get In Touch'%}</h2>
              <span class="back-text">{% trans 'Contact'%}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-lg-6">

            <!-- FORM -->
            <form method="post">
              {% csrf_token %}
              <div class="row">
                <div class="col-md-6 form-group">
                  <label for="name">{% trans 'Name'%}</label>
                 {{form.firstname}}

                </div>
                <div class="col-md-6 form-group">
                  <label for="phone">{% trans 'Phone'%}</label>
                   {{form.phone}}

                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  
                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="email">{% trans 'Email'%}</label>
                  {{form.email}}

                </div>
              </div>
              <div class="row">
                <div class="col-md-12 form-group">
                  <label for="message">{% trans 'Write Message'%}</label>
                  {{form.messages}}

                </div>
              </div>
              <div class="row">
                <div class="col-md-6 form-group">
                  <input type="submit" id="submit_contact" value="Send Message" class="btn btn-primary">
                </div>
              </div>
            </form>
          </div>

          <!--END FORM -->



          <div class="col-lg-6 pl-2 pl-lg-5">

            <div class="col-md-8 mx-auto contact-form-contact-info">
              <h4 class="mb-5">{% trans 'Contact Details'%}</h4>
                <p class="d-flex">
                  <span class="ion-ios-location icon mr-5"></span>
                  <span>34 Street Name, City Name Here, United States</span>
                </p>

                <p class="d-flex">
                  <span class="ion-ios-telephone icon mr-5"></span>
                  <span>+1 242 4942 290</span>
                </p>

                <p class="d-flex">
                  <span class="ion-android-mail icon mr-5"></span>
                  <span>info@yourdomain.com</span>
                </p>
              </div>

          </div>
        </div>
      </div>

    </section>
 {% endblock %}
