{% extends 'main/base.html'%}
{%load static  i18n %}
{% block content %}

    <section class="home-slider owl-carousel">
      <div class="slider-item" style="background-image: url('/static/img/fon.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>{% trans 'Health is wealth'%}</h1>
              <p class="mb-5">{% trans 'Your path of comprehensive self-care'%}</p>
              <p><a href="#" class="btn btn-white btn-outline-white">{% trans 'Get Started'%}</a> <a href="#" class="btn btn-link btn-white">{% trans 'Download' %}</a></p>
            </div>
          </div>
        </div>

      </div>

      <div class="slider-item" style="background-image: url('/static/img/pic3.jpg');">
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>{% trans 'Join Today'%}</h1>
              <p class="mb-5">{% trans 'Get your best score in just one month and win a prize. This mission is achievable. Get started now.'%}</p>
              <p><a href="#" class="btn btn-white btn-outline-white">{% trans 'Get Started'%}</a> <a href="#" class="btn btn-link btn-white">{% trans 'Download'%}</a></p>
            </div>
          </div>
        </div>
        
      </div>

    </section>
    <!-- END slider -->

    
    <section class="section element-animate">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>{% trans 'Choose your course'%}</h2>
              <span class="back-text">{% trans 'The Classes'%}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="owl-carousel centernonloop">
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">3900₽</p>
            <h2 class="class-heading">{% trans 'Basic'%}</h2>
          </div>
          <img src="{%static 'img/2345a335c3efa68c4a16e6a7c53bd4d118.jpg'%}" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">4200₽</p>
            <h2 class="class-heading">{% trans 'No axial load'%}</h2>
          </div>
          <img src="{%static 'img/2345a335c3efa68c4a16e6a7c53basd4d8.jpg'%}" alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">4200₽</p>
            <h2 class="class-heading">{% trans 'Lower body workouts'%}</h2>
          </div>
          <img src="{%static 'img/fa1e0921b2e44f76d25d271as3adb5258.jpg'%}"alt="" class="img-fluid">
        </a>
        <a href="#" class="item-class">
          <div class="text">
            <p class="class-price">4400₽</p>
            <h2 class="class-heading">{% trans 'Training for sore knees'%}</h2>
          </div>
          <img src="{%static 'img/2345a335c3efa68c4a16e6a7c5a3bd4d8.jpg'%}" alt="" class="img-fluid">
        </a>
      </div>
    </section> <!-- .section -->


    <section class="section element-animate">
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>{% trans 'Recipes'%}</h2>
              <span class="back-text">{% trans 'Recipes'%}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          {%if recipe%}
          {%for post in recipe%}
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('/media/{{post.image1}}');">
              </div>
              <div class="text">
                {% csrf_token %}
                <h3>{{post.title}}</h3>
                <p class="sched-time">
                  <span><span class="fa fa-calendar"></span> {{post.created}}</span> <br>
                </p>
                <p>{{post.ingredients|truncatechars:60}}</p>
                <p><a href="{% url 'main:post_detail' post.slug %}" class="btn btn-primary btn-sm">{% trans 'Read More'%}</a></p>
              </div>
            </div>
          </div>
                 {% endfor %}
                {%endif%}
            </div>
          </div>
        </div>
      </div>
    </section> <!-- .section -->
    
    



{% endblock %}



