{% extends 'main/base.html'%}
{%load static  i18n %}
{% block content %}



    <section class="home-slider-loop-false  inner-page owl-carousel">
      <div class="slider-item" style="background-image: url('img/slider-1.jpg');">
        
        <div class="container">
          <div class="row slider-text align-items-center justify-content-center">
            <div class="col-md-8 text-center col-sm-12 element-animate">
              <h1>Services</h1>
              
            </div>
          </div>
        </div>

      </div>

    </section>
    <!-- END slider -->

    
    <section class="section element-animate">
      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Featured Services</h2>
              <span class="back-text">Our Services</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('img/img_2_square.jpg');"></div>
              <div class="text">
                <h3>Services Name Here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                
                <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                
              </div>
              
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('img/img_1_square.jpg');"></div>
              <div class="text">
                <h3>Services Name Here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                
                <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('img/img_2_square.jpg');"></div>
              <div class="text">
                <h3>Services Name Here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                
                <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                
              </div>
              
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('img/img_1_square.jpg');"></div>
              <div class="text">
                <h3>Services Name Here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                
                <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('img/img_2_square.jpg');"></div>
              <div class="text">
                <h3>Services Name Here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                
                <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                
              </div>
              
            </div>
          </div>
          <div class="col-md-6 mb-4">
            <div class="blog d-block d-lg-flex">
              <div class="bg-image" style="background-image: url('img/img_1_square.jpg');"></div>
              <div class="text">
                <h3>Services Name Here</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto illo delectus...</p>
                
                <p><a href="#" class="btn btn-primary btn-sm">Learn More</a></p>
                
              </div>
              
            </div>
          </div>
        </div>
      </div>

    </section> <!-- .section -->

    <section class="section element-animate">

      <div class="clearfix mb-5 pb-5">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-12 text-center heading-wrap">
              <h2>Happy Customer</h2>
              <span class="back-text">Testimonial</span>
            </div>
          </div>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <blockquote class="testimonial">
              <p>&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, obcaecati? Quis eum minus, sequi atque quisquam ducimus aliquam veritatis nobis cum iusto neque enim explicabo maxime natus doloribus, fuga sunt. &rdquo;</p>
              <div class="d-flex author">
                <img src="img/person_1.jpg" alt="" class="mr-4">
                <div class="author-info">
                  <h4>Mellisa Howard</h4>
                  <p>CEO, XYZ Company</p>
                </div>
              </div>  
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote class="testimonial">
              <p>&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, obcaecati? Quis eum minus, sequi atque quisquam ducimus aliquam veritatis nobis cum iusto neque enim explicabo maxime natus doloribus, fuga sunt. &rdquo;</p>
              <div class="d-flex author">
                <img src="img/person_2.jpg" alt="" class="mr-4">
                <div class="author-info">
                  <h4>Mike Richardson</h4>
                  <p>CEO, XYZ Company</p>
                </div>
              </div>  
            </blockquote>
          </div>
          <div class="col-md-4">
            <blockquote class="testimonial">
              <p>&ldquo; Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor, obcaecati? Quis eum minus, sequi atque quisquam ducimus aliquam veritatis nobis cum iusto neque enim explicabo maxime natus doloribus, fuga sunt. &rdquo;</p>
              <div class="d-flex author">
                <img src="img/person_3.jpg" alt="" class="mr-4">
                <div class="author-info">
                  <h4>Charles White</h4>
                  <p>CEO, XYZ Company</p>
                </div>
              </div>  
            </blockquote>
          </div>
        </div>
      </div>
    </section> <!-- .section -->


    {% endblock %}
